<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testemunhos</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>

    <div class="container">

        <div class="row">
                <div class="col-md-12">
                    <h1 id="id_create_page">Novo Projeto</h1>
                </div>
        </div>
         
        <div class="row">

            <div class="col-md-12"> <!-- Parametrizado para ocupar 12 unidades de largura -->

                <form action= "create" method= "POST" enctype="multipart/form-data">  acrescentado o comando enctype="multipart/form-data" para poder ser enviado imagem também-->
 
                    <div class="form-group">  <!-- No Bootstrap chamamos de "form-group" as subareas... neste exemplo a subaria é composta por 1 label, e imput e um "minilabel" para ser utilizado como texto de ajuda  -->
                        <labels for="project_Name">Nome</label>  <!-- Este campo FOR serve para linkar o label com o imput (perceber que o texto to FOR é o mesmo do ID do Imput) para quando a pessoa clicar no Label o cursor do mouse ir direto para o imput -->
                        <input name="project_Name" type="text" class="form-control" id="project_Name"  placeholder="Nome do Projeto"> 
                                <!-- o parâmetro NAME acima refere-se ao nome dado para linkar com o controler para buscar o título do project. Pode ser dado
                                 qualquer nome, neste caso foi utilizado a string "title". Este "name" não é ID do campo, ele vai dizer para o servidor como é que
                                 veio cada informação -->
                    </div> 

                    <div class="form-group"> 
                        <label for="project_Subject">Assunto</label>
                        <textarea name="project_Subject" type="text" class="form-control" id="project_Subject"  placeholder=""> </textarea>
                    </div>

                    <div class="form-group"> 
                        <label for="project_Image">Imagem</label>
                        <input name="project_Image" type="file" class="form-control" id="project_Image">
                    </div> 

                    <div class="form-group">  
                        <label for="project_Description">Descrição do Projeto</label> 
                        <textarea  name="project_Description" type="text" class="form-control" id="project_Description"  placeholder=""> </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
          </div>
        </div>  
    </div>

</body>
</html>