<!-- ARQUIVO RESPONSÃVEL PELA ESTRUTURA DE CADA CARD DA PÃGINA PRINCIPAL-->

<div class="card" style="width: 18rem;">
        <img src="<%=  `/images/${dado.image}`%>" class="card-img-top" >
        <div class="card-body">

            <h5 class="card-title">
                <%= dado.title %>
            </h5>

            <p class="card-text">
              <%= dado.description %>
            </p>

            <a href="/post/<%= dado.id%>" class="btn btn-primary">Ler Mais</a>
        </div>
</div>